#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.App {
  max-height: 100vh;
  width: 100%;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.inputLabel {
  font-size: xx-large;
}

.inputBox {
  height: 30px;
  width: 300px;
  font-size: large;
}

.textsDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 500px;
}

.userDiv {
  width: 100%;
}
.userText {
}
