@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #111112;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 53s linear infinite;
}

.background li:nth-child(0) {
  left: 8%;
  width: 158px;
  height: 158px;
  bottom: -158px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 71%;
  width: 158px;
  height: 158px;
  bottom: -158px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 53%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 8s;
}
.background li:nth-child(3) {
  left: 23%;
  width: 136px;
  height: 136px;
  bottom: -136px;
  animation-delay: 13s;
}
.background li:nth-child(4) {
  left: 40%;
  width: 157px;
  height: 157px;
  bottom: -157px;
  animation-delay: 15s;
}
.background li:nth-child(5) {
  left: 10%;
  width: 125px;
  height: 125px;
  bottom: -125px;
  animation-delay: 3s;
}
.background li:nth-child(6) {
  left: 49%;
  width: 190px;
  height: 190px;
  bottom: -190px;
  animation-delay: 15s;
}
.background li:nth-child(7) {
  left: 76%;
  width: 163px;
  height: 163px;
  bottom: -163px;
  animation-delay: 27s;
}
.background li:nth-child(8) {
  left: 38%;
  width: 193px;
  height: 193px;
  bottom: -193px;
  animation-delay: 1s;
}
.background li:nth-child(9) {
  left: 64%;
  width: 186px;
  height: 186px;
  bottom: -186px;
  animation-delay: 17s;
}
